*{
    box-sizing: border-box;
}
@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf');
}
@font-face{
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
}
body{
    font-family: "Source Sans Pro";
}
.cabecalho{
    background: white;
}
.logo{
    background-image: url(../img/Logo\ Julia\ Fideles\ Lateral.png);
    background-repeat: no-repeat;
    width: 500px;
    height: 55px;
    text-indent: -9999px;
    padding: 20px;
}