.pagina-cabecalho{
    background-color: rgb(59, 86, 104);
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    background-attachment: fixed;
}
.pagina-cabecalho__titulo{
    text-align: center;
    text-transform: uppercase;

}
.pagina-cabecalho__titulo::after{
    width: 50px;
    height: 3px;
    background-color: white;
    display: block;
    content: '';
    margin-top: 20px;
    margin: 0 auto;
}