/*Logo*/
.logo{
    background: url("../img/Logo_Lateral.png");
    background-repeat: no-repeat;
    display: block;
    width: 400px;
    height: 57px;
    text-indent: -9999px;
    padding: 20px;
    margin: 0;
}